Repository PowerShell/vscode-powershell, pull requests merged in 2021-04, with the labels that each got.

#3267 Update download host of vscode
  scripts/Install-VSCode.ps1
Labels: Area-Build & Release, Issue-Bug

#3265 Create new `ReleaseTools` module
  build/InstallPreview.ps1
  build/PackagePreviewRelease.ps1
  extension-dev.code-workspace
  media/PowerShell_icon.png
  media/resources/dark/ClosePanel.svg
  media/resources/dark/MovePanelBottom.svg
  media/resources/dark/MovePanelLeft.svg
  media/resources/dark/pencil.svg
  media/resources/dark/play.svg
  media/resources/dark/question.svg
  media/resources/dark/run.svg
  media/resources/dark/sync.svg
  media/resources/light/ClosePanel.svg
  media/resources/light/MovePanelBottom.svg
  media/resources/light/MovePanelLeft.svg
  media/resources/light/pencil.svg
  media/resources/light/play.svg
  media/resources/light/question.svg
  media/resources/light/run.svg
  media/resources/light/sync.svg
  package.json
  tools/ChangelogTools.psm1
  tools/ReleaseTools.psm1
  tools/changelog/updateChangelog.ps1
  tools/postReleaseScripts/publishGHRelease.ps1
  tools/postReleaseScripts/updateAzureDataStudio.ps1
Labels: Area-Build & Release, Issue-Enhancement

#3274 Run `npm audit fix`
  package-lock.json
Labels: Area-Build & Release, Issue-Enhancement

#3275 Update vsce to 1.87.1
  package-lock.json
  package.json
  vscode-powershell.build.ps1
Labels: Area-Build & Release, Issue-Enhancement

#3286 Fix release build pipeline
  .vsts-ci/azure-pipelines-ci.yml
  .vsts-ci/azure-pipelines-release.yml
  .vsts-ci/templates/ci-general.yml
  .vsts-ci/templates/release-general.yml
  CHANGELOG.md
  tools/releaseBuild/findPsesBuild.ps1
  tools/releaseBuild/setVstsVariables.ps1
Labels: Area-Build & Release, Issue-Bug

#3292 Add `Update-Version` to `ReleaseTools` module
  tools/ReleaseTools.psm1
  tools/postReleaseScripts/updateExtensionVersions.ps1
Labels: Area-Build & Release, Issue-Enhancement

#3302 Add `Get-Version` function to `ReleaseTools` module
  tools/ReleaseTools.psm1
Labels: Area-Build & Release, Issue-Bug

#3305 Release `v2021.4.2-preview`
  CHANGELOG.md
  package.json
  tools/ReleaseTools.psm1
Labels: Area-Build & Release, Ignore, Issue-Enhancement

#3319 Fix triggers for CodeQL
  .github/workflows/codeql.yml
Labels: Area-Build & Release, Ignore, Issue-Bug

#3321 Update CodeQL GitHub workflow
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql.yml
Labels: Area-Build & Release, Ignore

#3322 Remove "All Rights Reserved" from copyright notices
  examples/SampleModule.psd1
  src/controls/animatedStatusBar.ts
  src/controls/checkboxQuickPick.ts
  src/debugAdapter.ts
  src/features/CodeActions.ts
  src/features/Console.ts
  src/features/CustomViews.ts
  src/features/DebugSession.ts
  src/features/Examples.ts
  src/features/ExpandAlias.ts
  src/features/ExtensionCommands.ts
  src/features/ExternalApi.ts
  src/features/FindModule.ts
  src/features/GenerateBugReport.ts
  src/features/GetCommands.ts
  src/features/HelpCompletion.ts
  src/features/ISECompatibility.ts
  src/features/NewFileOrProject.ts
  src/features/OpenInISE.ts
  src/features/PesterTests.ts
  src/features/RemoteFiles.ts
  src/features/RunCode.ts
  src/features/ShowHelp.ts
  src/features/UpdatePowerShell.ts
  src/languageClientConsumer.ts
  src/logging.ts
  src/main.ts
  src/platform.ts
  src/process.ts
  src/session.ts
  src/settings.ts
  src/utils.ts
  test/features/CustomViews.test.ts
  test/features/ExternalApi.test.ts
  test/features/ISECompatibility.test.ts
  test/features/RunCode.test.ts
  test/features/UpdatePowerShell.test.ts
  test/platform.test.ts
  test/runTests.ts
  test/settings.test.ts
  test/testRunner.ts
  test/test_utils.ts
  tslint.json
Labels: Area-Documentation, Issue-Bug

#3325 Remove deprecated badges
  .github/dependabot.yml
  README.md
Labels: Area-Documentation, Ignore
