Repository PowerShell/vscode-powershell, pull requests merged in 2021-02, with the labels that each got.

#3162 Rewrite release signing pipeline
  .vscode/extensions.json
  .vsts-ci/azure-pipelines-release.yml
  .vsts-ci/templates/ci-general.yml
  .vsts-ci/templates/release-general.yml
  docs/development.md
  extension-dev.code-workspace
  tools/credScan/suppress.json
  tools/releaseBuild/signing.xml
  tools/terms/UserExclusions.xml
  vscode-powershell.build.ps1
Labels: Area-Build & Release, Issue-Bug

#3177 Delete VS Code Notebook API prototype
  .github/workflows/updateNotebookApi.yml
  src/features/PowerShellNotebooks.ts
  src/main.ts
  test/features/PowerShellNotebooks.test.ts
  vscode.notebooks.d.ts
  vscode.proposed.d.ts
Labels: Area-Build & Release, Area-Notebooks, Issue-Meta

#3193 Update powershell-preview CHANGELOG for v2021.2.0-preview
  CHANGELOG.md
  package.json
  tools/releaseBuild/findPsesBuild.ps1
Labels: Area-Build & Release

#3197 Some improvements to the release scripts
  .vsts-ci/azure-pipelines-release.yml
  .vsts-ci/templates/release-general.yml
  tools/ChangelogTools.psm1
  tools/Get-PowerShellExtensionChangelog.ps1
  tools/GitHubTools.psm1
  tools/changelog/updateChangelog.ps1
  tools/postReleaseScripts/publishGHRelease.ps1
Labels: Area-Build & Release, Issue-Bug

#3203 Disabled 'proposed' APIs
  package.json
Labels: Area-Build & Release, Issue-Bug

#3202 Fix PowerShell MSIX (Store) detection
  src/platform.ts
Labels: Area-Startup, Issue-Bug

#3207 Update powershell CHANGELOG for v2021.2.2
  CHANGELOG.md
  package.json
Labels: Area-Build & Release, Issue-Discussion
